@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">An Error has been Occured.</h1>
<h2 class="text-danger">There has been an Error.</h2>
<h3 class="text-danger">Please Try again.</h3>
<h4 class="text-danger">ERROR</h4>
