@{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p> My Name is Moayad Algergawi I am a level 5 student in algonquin college.</p>
        <p> I am so happy i finished the lab.</p>
        <p> It was absoultly a hard lab but i managed to finish it.</p>
    </div>